/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}
header {
  background-color: #f5e4c3;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Section Styles */
main {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

/* Footer Styles */
footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styling for mobile devices */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  footer {
    position: relative;
  }
}
/* Recipe Page Styles */
.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.recipe {
  background-color: #f5e4c3; /* Matches your beige color */
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

.recipe h2 {
  color: #b3c936; /* Matches your green color */
}

.recipe img {
  border-radius: 5px;
}

.button {
  background-color: #b3c936;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.button:hover {
  background-color: #8ca72b;
}
